/* -------------------------------------------------------------------------- */

/*	Variables
/* -------------------------------------------------------------------------- */

/* Fonts ---------------------------------- */
$font_body:         Arimo, Arial, Helvetica Neue, Helvetica, sans-serif;
$font__heading:     Arimo, Arial, Helvetica Neue, Helvetica, sans-serif;
$font__blockquote:  Georgia, serif;

$font__size--default: 1.8rem;

$font__size--h1: 5.2rem;
$font__size--h2: 4.2rem;
$font__size--h3: 3.4rem;
$font__size--h4: 2.8rem;
$font__size--h5: 2.4rem;
$font__size--h6: $font__size--default;

$font__size--tiny: 1.4rem;
$font__size--smallest: 1.6rem;
$font__size--small: 1.8rem;
$font__size--normal: $font__size--default;
$font__size--large: $font__size--h3;
$font__size--huge: $font__size--h1;

$line__height--default: 1.4;
$line__height--heading: 1.25;;
$line__height--h1: 1.138888889;

/* Color ---------------------------------- */
$color__primary:               #009FDB;
$color__secondary:             #BDBFC1;
$color__accent:                #FFC300;
$color__background:            #FFFFFF;
$color__subtle-background:     #EEEFF0;
$color__body-copy:             #021A23;
$color__border:                #021A23;
$color__focus:                 #F2F2F2;
$color__border-color--light:   #c8c8c8;


//WooCommerce Colors
$color__woo_star:              #EFCC11;
$color__wc-alert:              #DF487E;

$transition_duration: 0.15s;
$transition_easing: linear;
$transition_all: all $transition_duration $transition_easing;

$transition_chevron: transform .3s ease;

$max-content-width: 68rem;
$max-content-width--alignwide: 120rem;
$spacing-mobile: 4rem;
$spacing-tablet: 8rem;

/* Responsive ---------------------------------- */

$breakpoint_small_blocks: 37.5em; //600px
$breakpoint_tablet: 48em; //768px
$breakpoint_laptop: 60em; //960px
$breakpoint_desktop: 80em; //1280px


$media_query_until_small_blocks: screen and (max-width: $breakpoint_small_blocks - .0625);
$media_query_at_least_small_blocks: screen and (min-width: $breakpoint_small_blocks);
$media_query_until_tablet: screen and (max-width: $breakpoint_tablet - .0625);
$media_query_at_least_tablet: screen and (min-width: $breakpoint_tablet);
$media_query_until_laptop: screen and (max-width: $breakpoint_laptop - .0625);
$media_query_at_least_laptop: screen and (min-width: $breakpoint_laptop);
$media_query_until_desktop: screen and (max-width: $breakpoint_desktop - .0625);
$media_query_at_least_desktop: screen and (min-width: $breakpoint_desktop);

/* Blocks ---------------------------------- */
$content-max-width: 59rem;


$spacing-minimal: .5rem;
$spacing-compact: 1rem;
$spacing-default: 2rem;
$spacing-wider: 4rem;

$spacing-vertical-block-gap: 8rem;

//cover
$wp-cover__text-color: $color__primary;
$wp-cover__background-color: $color__background;