.wp-block-button__link,
.wp-block-file__button {
	@include button-style( $is-editor: true );
}

.wp-block-button {

	/* Outline Style */
	&:not(.has-background).is-style-outline {

		.wp-block-button__link:not(.has-background) {

			background: $color__button--outline__background;
			border: 2px solid currentcolor;

			&:not(.has-text-color) {
				color: $color__button--outline__text;
			}

			&:hover,
			&:focus,
			&.has-focus {
				background-color: $color__button--outline__background--hover;
				color: $color__button--outline__text--hover;
			}
		}
	}

	.is-style-outline .wp-block-button__link:not(.has-text-color) {
		color: inherit;
	}

	//Squared Style
	&.is-style-squared .wp-block-button__link {
		border-radius: 0;
	}
}
