.wp-block-button__link,
.wp-block-file__button {
	@include button-style( $is-editor: true );
}

.wp-block-button {

	/* Outline Style */
	&.is-style-outline {

		.wp-block-button__link:not(.has-background) {
			background: transparent;
			border: 2px solid currentcolor;

			&:not(.has-text-color) {
				color: $color__primary;
			}

			&:hover,
			&:focus,
			&.has-focus {
				background-color: $color__primary;
				border-color: $color__primary;
				color: $color__background;
			}
		}

		.wp-block-button__link:not(.has-text-color) {
			color: inherit;
		}
	}

	/* Squared Style */
	&.is-style-squared .wp-block-button__link {
		border-radius: 0;
	}
}
