.wp-block-spacer{
	&.is-style-spacer-vertical-line {
		background-image: linear-gradient($color__accent 0%, $color__accent 100% );
		background-repeat: no-repeat;
		background-position: center;
		background-size: 3px 90%;
		margin-top: $spacing-default;
		margin-bottom: $spacing-default;
	}
}