.wp-block-latest-posts {
	padding-left: 0;

	& > li > a {

		color: $color__body-copy;
		font-family: $font_body;
		font-size: ($font__size--h4 / 1.6);
		font-weight: bold;
		padding: 0;
		text-decoration: none;
	}

	.wp-block-latest-posts__featured-image + a {
		background: #fff;
		display: block;
		padding: 0;
	}

	&:not(.is-grid) > li {
		/* Vertical margins logic */
		margin-top: ($spacing-default / 1.6);
		margin-bottom: ($spacing-default / 1.6);

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	.wp-block-latest-posts__post-date {
		color: $color__secondary;
		font-size: ($font__size--small / 1.6);
		line-height: $line__height--default;
		display: block;
		background: #FFF;
		max-width: 90%;
		padding: 0 0 1rem;
		position: relative;
		z-index: 1;

		[class*="inner-container"] &,
		.has-background & {
			color: currentColor;
		}
	}

	.wp-block-latest-posts__post-excerpt,
	.wp-block-latest-posts__post-full-content {
		font-size: ($font__size--small / 1.6);
		line-height: $line__height--default;
		margin: 0;
		max-width: 90%;
		padding: 1rem 0;
		position: relative;
		z-index: 1;
	}
}
