/* -------------------------------------------------------------------------- */

/*	Typography
/* -------------------------------------------------------------------------- */

h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4,
h5,.h5,
h6,.h6,
.faux-heading {
    font-weight: 700;
    line-height: $line__height--heading;
    margin: 3.5rem 0 2rem;
}

h1,.h1,
.heading-size-1 {
    font-size: $font__size--h1 / 1.44;
    font-weight: 800;
    line-height: $line__height--h1;

    @media #{$media_query_at_least_tablet}{
        font-size: $font__size--h1 / 1.2;
    }

    @media #{$media_query_at_least_laptop} {
        font-size: $font__size--h1;
    }
}

h2,
.heading-size-2 {
    font-size: $font__size--h2 / 1.2;

    @media #{$media_query_at_least_tablet}{
        font-size: $font__size--h2;
    }
}

h3,
.heading-size-3 {
    font-size: $font__size--h3 / 1.2;

    @media #{$media_query_at_least_tablet}{
        font-size: $font__size--h3;
    }
}

h4,
.heading-size-4 {
    font-size: $font__size--h4 / 1.2;

    @media #{$media_query_at_least_tablet}{
        font-size: $font__size--h4;
    }
}

h5,
.heading-size-5 {
    font-size: $font__size--h5 / 1.2;

    @media #{$media_query_at_least_tablet}{
        font-size: $font__size--h5;
    }
}

h6,
.heading-size-6 {
    font-size: 1.6rem;
    text-transform: uppercase;

    @media #{$media_query_at_least_tablet}{
        font-size: $font__size--h6;
    }
}

@media #{$media_query_at_least_tablet}{

    /* TITLES */

    h1,.h1,
    .heading-size-1,
    h2,.h2,
    .heading-size-2,
    h3,.h3,
    .heading-size-3 {
        margin: 6rem auto 3rem;
    }

    h4,.h4,
    .heading-size-4,
    h5,.h5,
    .heading-size-5,
    h6,.h6,
    .heading-size-6 {
        margin: 4.5rem auto 2.5rem;
    }
}

@media #{$media_query_at_least_tablet}{

    .entry-content h1,
    .entry-content h2,
    .entry-content h3 {
        margin: 6rem auto 3rem;
    }

    .entry-content h4,
    .entry-content h5,
    .entry-content h6 {
        margin: 4.5rem auto 2.5rem;
    }
}
