
.error404 #site-content {
	padding-top: 4rem;

	@media #{$media_query_at_least_tablet}{
		padding-top: 8rem;
	}
}

.error404-content {
	text-align: center;

	.entry-title {
		font-size: 4rem;
		margin-bottom: 1rem;
	}

	h2 {
		font-size: 2.8rem;
		margin-top: 0;
		margin-bottom: 3rem;
	}

	p {
		font-size: 1.8rem;
	}
}

.error404 #site-content .search-form {
	justify-content: center;
	margin: 6rem auto;
	text-align: left;
	max-width: 500px;
}