/* -------------------------------------------------------------------------- */

/*	Comments
/* -------------------------------------------------------------------------- */


.comments-wrapper {
    margin-top: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;

    @media #{$media_query_at_least_tablet} {
        margin-top: 8rem;
        padding-left: 0;
        padding-right: 0;
    }
}

.comment-reply-title {
    margin: 0 0 4rem 0;
    text-align: center;

    @media #{$media_query_at_least_tablet} {
        margin-bottom: 6rem;
    }

    small {

        @media #{$media_query_at_least_tablet} {
            display: inline;
            margin: 0 0 0 0.5rem;
        }
    }

    @media #{$media_query_at_least_desktop} {
        margin-bottom: 6rem;

        small {
            display: block;
            font-size: 1.6rem;
            font-weight: 600;
            margin: 0.5rem 0 0 0;
            white-space: nowrap;

            a {
                text-decoration: none;

                &:focus,
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.comments {

    .comment,
    .pingback,
    .trackback,
    .review {
        border-top: 1px solid $color__border;
        padding: 4rem 0;
    }
}

div.comment:first-of-type {
    border-top: 1px solid $color__border;

    @media #{$media_query_at_least_tablet} {
        margin-top: 5rem;
    }

    @media #{$media_query_at_least_desktop} {
        margin-top: 3.5rem;
    }
}

.comment-meta {

    @media #{$media_query_at_least_tablet} {
        margin-bottom: 2rem;
        min-height: 6rem;
        padding: 0.3rem 0 0 7.5rem;
    }

    @media #{$media_query_at_least_desktop} {
        line-height: 1.1;
        margin-bottom: 1.5rem;
        min-height: 5rem;
        position: relative;
    }

    .avatar {

        @media #{$media_query_at_least_tablet} {
            display: block;
            height: 6rem;
            position: absolute;
            left: 0;
            top: 0;
            width: 6rem;
            border-radius: 50%;
        }
    }

    a {

        @media #{$media_query_at_least_desktop} {
            color: inherit;
        }
    }

}

.comment-author {
    @media #{$media_query_at_least_tablet} {
        font-size: 2.4rem;
    }


    @media #{$media_query_at_least_desktop} {
        font-size: 1.8rem;
        font-weight: 700;

        a {
            text-decoration: underline;

            &:hover,
            &:focus {
                text-decoration: none;
            }
        }
    }
}

.comment-metadata {
    @media #{$media_query_at_least_tablet} {
        font-size: 1.6rem;
        margin-top: 0.8rem;
    }

    @media #{$media_query_at_least_desktop} {
        color: $color__secondary;
        font-size: 1.4rem;
        margin-top: 0.6rem;

        a {
            text-decoration: none;

            &:focus,
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.comment-footer-meta {
    @media #{$media_query_at_least_tablet} {
        margin-top: 2.5rem;
    }

    @media #{$media_query_at_least_desktop} {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        font-size: 1.2rem;
        font-weight: 600;
        justify-content: flex-start;
        line-height: 1;
        margin: 2.5rem 0 -1rem 7.5rem;

        & > * {
            margin: 0 0 1rem 0;
        }

        a {
            text-decoration: none;

            &:focus,
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.comments-pagination {

    @media #{$media_query_at_least_tablet} {
        margin-top: 8rem;
    }


    @media #{$media_query_at_least_desktop} {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 6rem;
        text-align: center;

        &.only-next {
            justify-content: flex-end;

        }
        .page-numbers {
            display: none;
            text-decoration: none;

            &:focus,
            &:hover {
                text-decoration: underline;
            }
        }

        .prev,
        .next {
            display: block;
        }

        .prev {
            left: 0;
        }

        .next {
            right: 0;
            text-align: right;
        }
    }

}

/* PINGBACKS & TRACKBACKS */

.pingback .comment-body {
    @media #{$media_query_at_least_tablet} {
        padding: 0;
    }
}

/* COMMENT RESPOND */

.comment-respond {

    &::after {
        @media #{$media_query_at_least_desktop} {
            clear: both;
            content: "";
            display: block;
        }
    }

    p {
        @media #{$media_query_at_least_tablet} {
            margin-bottom: 2.5rem;
        }

        @media #{$media_query_at_least_desktop} {
            line-height: 1.1;
            margin-bottom: 2rem;
            margin-left: auto;
            margin-right: auto;

            &:not(.comment-notes) {
                max-width: 58rem;
            }
        }
    }

    .comment-form-author,
    .comment-form-email {
        @media #{$media_query_at_least_tablet} {
            float: left;
            width: calc(50% - 1rem);
        }
    }
    .comment-form-email {
        @media #{$media_query_at_least_tablet} {
            margin-left: 2rem;
        }
    }

    .comment-notes,
    .logged-in-as {

        @media #{$media_query_at_least_desktop} {
            color: #6d6d6d;
            font-size: 1.6rem;
            line-height: 1.4;
            margin: -3rem 0 4rem 0;
            text-align: center;
        }

        a {
            color: inherit;
            text-decoration: none;

            &:focus,
            &:hover {
                text-decoration: underline;
            }
        }
    }

    p.comment-notes,
    p.logged-in-as {
        @media #{$media_query_at_least_tablet} {
            font-size: 1.8rem;
            margin: -2.5rem 0 4.4rem 0;
        }

        @media #{$media_query_at_least_desktop} {
            margin: -4rem 0 6rem 0;
        }
    }

    &> p:last-of-type {

        @media #{$media_query_at_least_desktop} {
            margin-bottom: 0;
        }
    }

    label {

        @media #{$media_query_at_least_desktop} {
            display: block;
        }
    }

    input[type="checkbox"] + label {

        @media #{$media_query_at_least_desktop} {
            font-size: 1.5rem;
            line-height: 1.25;
        }
    }

    input[type="text"],
    input[type="email"],
    textarea {

        @media #{$media_query_at_least_desktop} {
            margin-bottom: 0;
        }
    }

    textarea {

        @media #{$media_query_at_least_desktop} {
            height: 15rem;
        }
    }

    #submit {

        @media #{$media_query_at_least_desktop} {
            display: block;
        }
    }

    .comments-closed {

        @media #{$media_query_at_least_desktop} {
            text-align: center;
        }
    }
}

.comment-form p.logged-in-as {
    @media #{$media_query_at_least_tablet} {
        margin: -2.5rem 0 4.4rem 0;
    }
}

.comments {

    .comment-respond {
        @media #{$media_query_at_least_tablet} {
            padding: 5rem 0 0;
        }

        @media #{$media_query_at_least_desktop} {
            padding: 3rem 0 0;
        }

        .comment-reply-title {

            @media #{$media_query_at_least_desktop} {
                font-size: 4.8rem;
            }
        }

        p.comment-notes,
        p.logged-in-as {

            @media #{$media_query_at_least_desktop} {
                margin: -4.5rem 0 4rem 0;
            }
        }

        .comment-reply-title,
        .comment-notes,
        .logged-in-as {

            @media #{$media_query_at_least_desktop} {
                text-align: left;
            }
        }
    }

    .comments-header + div {
        @media #{$media_query_at_least_desktop} {
            margin-top: 0;
            padding-top: 0;
        }
    }
}

/* Comment Item ----------------------------- */

/* COMMENT HEADER */


.comment-body {
    @media #{$media_query_at_least_desktop} {
        position: relative;
    }
}

.comment .comment {

    &:last-of-type {
        padding-bottom: 0;
    }

    @media #{$media_query_at_least_desktop} {
        margin-left: 5%;
    }

}

.hide-avatars .comment-meta {
    @media #{$media_query_at_least_desktop} {
        min-height: 0;
        padding-left: 0;
    }
}

.comment-author .url {

    @media #{$media_query_at_least_desktop} {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}


/* COMMENT CONTENT */

.comment-content.entry-content {
    font-size: 1.8rem;
    padding-left: 7.5rem;

    & > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide) {
        @media #{$media_query_at_least_desktop} {
            width: 100%;
        }
    }

    .alignleft {

        @media #{$media_query_at_least_desktop} {

            /*rtl:ignore*/
            margin-left: 0;
        }
    }

    .alignright {

        @media #{$media_query_at_least_desktop} {
            /*rtl:ignore*/
            margin-right: 0;
        }
    }
}

.comment-reply-link {

    @media #{$media_query_at_least_desktop} {
        border: 1px solid $color__body-copy;
        color: $color__body-copy;
        display: block;
        padding: 0.7rem;
    }
}

.bypostauthor .comment-footer-meta .by-post-author {

    @media #{$media_query_at_least_desktop} {
        display: block;
    }
}


/* Pingbacks & Trackbacks ------------------------- */

.pingback .comment-meta,
.trackback .comment-meta {

    @media #{$media_query_at_least_desktop} {
        padding-left: 0;
    }
}

.comment-form-cookies-consent {

    @media #{$media_query_at_least_desktop} {
        align-items: baseline;
        display: flex;
    }
}

#commentform {

    & > [class*=comment-form] {
        display: flex;
        flex-direction: column;

        label {
            margin-top: .8rem;
            order: 2;
        }
    }
    .comment-form-cookies-consent {
        flex-direction: row;
        margin: 3rem 0 6rem;
    }
}

.comment-form-url {
    clear: both;
}
