/* -------------------------------------------------------------------------- */

/*	Site Footer
/* -------------------------------------------------------------------------- */


.footer-nav-widgets-wrapper,
#site-footer {
    background-color: $color__subtle-background;
    color: $color__secondary;
    font-size: 1.8rem;

    a {
        color: $color__body-copy;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    .widget-title {
        color: $color__body-copy;
    }
}

.footer-top-visible .footer-nav-widgets-wrapper,
.footer-top-hidden #site-footer {
    margin-top: 4rem;

    @media #{$media_query_at_least_tablet} {
        margin-top: 8rem;
    }
}

.footer-widgets-outer-wrapper {
    padding: 4rem 2rem 2rem;

    @media #{$media_query_at_least_tablet} {
        padding: 8rem 0 4rem;
    }
}

#site-footer {
    padding: 2rem;

    @media #{$media_query_at_least_tablet} {
        padding: 4rem 0;
    }
}

/* Footer Widgets ---------------------------- */


.footer-widgets {

    @media #{$media_query_at_least_tablet} {
        display: flex;
        flex-wrap: wrap;
    }

    .widget {
        margin-top: 0;
        margin-bottom: 3rem;

        @media #{$media_query_at_least_tablet} {
            width: calc( 50% - 2rem );
            margin-right: 4rem;

            &:nth-of-type(2n) {
                margin-right: 0;
            }
        }

        @media #{$media_query_at_least_laptop} {
            width: calc( 33.3333% - 3rem );
            margin-right: 4.5rem;

            &:nth-of-type(2n) {
                margin-right: 4.5rem;
            }

            &:nth-of-type(3n) {
                margin-right: 0;
            }
        }

        @media #{$media_query_at_least_desktop} {
            width: calc( 25% - 3rem );
            margin-right: 4rem;

            &:nth-of-type(2n) {
                margin-right: 4rem;
            }

            &:nth-of-type(3n) {
                margin-right: 4rem;
            }

            &:nth-of-type(4n) {
                margin-right: 0;
            }
        }
    }
}

/* Footer Bottom ----------------------------- */

#site-footer {
    font-size: 1.6rem;
}

#site-footer .section-inner {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
}

#site-footer a {
    text-decoration: none;
}

#site-footer a:focus,
#site-footer a:hover {
    text-decoration: underline;
}

.footer-copyright,
.powered-by-wordpress  {
    font-size: 1.4rem;
}

.footer-credits {

    @media #{$media_query_at_least_tablet} {
        display: flex;
    }
}

.powered-by-wordpress {
    margin-left: 1rem;
}

/* FOOTER SOCIAL */

.footer-social-wrapper {
    margin: 0;
    width: 100%;
}

ul.footer-social li {
    margin: 0.5rem 0 0 0.5rem;
}

.footer-social a::before {
    font-size: 1.6rem;
}
