/* -------------------------------------------------------------------------- */

/*	Header
/* -------------------------------------------------------------------------- */

#site-header {
    background: #fff;
    position: relative;
    display: flex;
    flex-direction: column;

    @media #{$media_query_at_least_laptop} {
            z-index: 6;
    }

    &.nudgedesignstarter-logo-centered {

        @media #{$media_query_at_least_laptop} {
            //display: block;
        }
    }
}

.header-inner {
    max-width: 120rem;
    margin-left: auto;
    margin-right: auto;
    padding: 3.15rem 0;
    z-index: 5;

    @media #{$media_query_at_least_tablet}{
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 2.8rem 0 5rem;
        max-width: calc(100vw - 8rem);
        width: calc(100vw - 8rem);
    }

    @media #{$media_query_at_least_desktop}{
        max-width: 120rem;
        width: 120rem;
    }

    .nudgedesignstarter-logo-centered & {
        display: block;
    }
}

/* Header Titles ----------------------------- */

.header-titles-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0 4rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    @media #{$media_query_at_least_laptop} {
        margin-right: 4rem;
        margin-left: 0;
        max-width: 50%;
        padding: 0;
        text-align: left;
    }

    .nudgedesignstarter-logo-centered & {
        margin-right: 0;
        max-width: 100%;
        padding: 0;
        text-align: center;
    }
}

.header-titles {

    @media #{$media_query_at_least_laptop} {
        align-items: baseline;
        margin: -1rem 0 0 -2.4rem;

        .nudgedesignstarter-logo-centered & {
            display: block;
            margin: 0 2rem 4rem;
        }
    }

    .site-title,
    .site-logo,
    .site-description {

        @media #{$media_query_at_least_laptop} {
            margin: 0 0 0 2.4rem;
        }
    }

    .nudgedesignstarter-logo-centered & .site-description {

        @media #{$media_query_at_least_laptop} {
            margin-top: 1rem;
        }
    }

    .wp-custom-logo & {

        @media #{$media_query_at_least_laptop} {
            align-items: center;
            flex-shrink: 0;
        }
    }

}

body:not(.enable-search-modal) .header-titles-wrapper {
    justify-content: flex-start;
    padding-left: 0;
    text-align: left;
}

.site-title,
.site-logo,
.site-description {
    margin: 0;
}

.site-title {
    font-size: 2.1rem;
    font-weight: 600;
    line-height: 1;

    @media #{$media_query_at_least_tablet}{
        font-size: 2.4rem;
        font-weight: 700;
    }
}

.site-title a {
    color: inherit;
    display: block;
    font-size: 3.4rem;
    text-decoration: none;
}

.site-title a:hover,
.site-title a:focus {
    text-decoration: underline;
}

.site-description {
    margin-top: 1rem;
    color: #6d6d6d;
    font-size: 1.8rem;
    font-weight: 500;
    display: none;
    transition: all 0.15s linear;

    @media #{$media_query_at_least_tablet}{
        display: block;
    }
}

.site-logo a,
.site-logo img {
    display: block;
}

.site-logo img {
    max-height: 6rem;
    width: auto;

    @media #{$media_query_at_least_tablet}{
        max-height: 9rem;
        transition: height 0.15s linear, width 0.15s linear, max-height 0.15s linear;
    }

    .nudgedesignstarter-logo-centered & {
        margin-left: auto;
        margin-right: auto;
    }
}

body:not(.enable-search-modal) .site-logo img {
    margin: 0;
}

/* Overlay Header ---------------------------- */

.overlay-header #site-header {
    background: transparent;
    margin: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2;
}

.overlay-header .header-inner {
    color: #fff;
}

.overlay-header .site-description,
.overlay-header .toggle {
    color: inherit;
}

.overlay-header .header-inner .toggle-wrapper::before {
    background-color: currentColor;
    opacity: 0.25;
}

.admin-bar.overlay-header #site-header {
    top: 32px;

    @media #{$media_query_at_least_tablet}{
        top: 46px;
    }
}


/* Header Navigation ------------------------- */

.header-navigation-wrapper {
    display: none;

    @media #{$media_query_at_least_laptop} {
        align-items: center;
        display: flex;
    }

    .primary-menu-wrapper {

        @media #{$media_query_at_least_laptop} {
            display: block;
            width: 100%;
        }
    }
}


.nudgedesignstarter-logo-centered .header-navigation-wrapper {

    @media #{$media_query_at_least_laptop} {
        justify-content: center;
        width: auto;
    }

    .primary-menu-wrapper {

        @media #{$media_query_at_least_laptop} {
            width: auto;
        }
    }
}


/* Header Toggles ---------------------------- */

.header-toggles {
    display: none;

    @media #{$media_query_at_least_laptop} {

        .primary-menu-wrapper + & {
            margin-left: 3rem;
        }
    }

    @media #{$media_query_at_least_laptop} {
        display: flex;
        flex-shrink: 0;
        margin-right: -2rem;

        .search-toggle {
            padding-right: 0;
        }
    }
}

.header-inner {

    .toggle {
        align-items: center;
        display: flex;
        overflow: visible;
        padding: 0 2rem;

        @media #{$media_query_at_least_laptop} {
            height: 4.4rem;
            position: relative;
            bottom: auto;
            left: auto;
            right: auto;
            top: auto;
            width: auto;

        }

        &:hover {
            background-color: transparent;
        }
    }

    .toggle svg {
        display: block;
        height: 20px;
        position: relative;
        z-index: 1;
    }

    .toggle-wrapper {

        @media #{$media_query_at_least_laptop} {
           position: relative;

            &::before {
                background: #dedfdf;
                content: "";
                display: block;
                height: 2.7rem;
                position: absolute;
                left: 0;
                top: calc(50% - 1.35rem);
                width: 0.1rem;
            }

            &:first-child::before {
                content: none;
            }
        }
    }

    .primary-menu-wrapper + .header-toggles .toggle-wrapper:first-child::before {

        @media #{$media_query_at_least_laptop} {
            content: "";
        }
     }
}

.toggle-inner {
    display: flex;
    justify-content: center;
    height: 2.3rem;
    position: relative;

    @media #{$media_query_at_least_laptop} {
        position: static;
    }
}

.toggle-icon {
    display: block;
    overflow: hidden;
}

.toggle-inner .toggle-text {
    color: #6d6d6d;
    font-size: 1rem;
    font-weight: 600;
    position: absolute;
    top: calc(100% + 0.5rem);
    width: auto;
    white-space: nowrap;
    word-break: break-all;

    @media #{$media_query_at_least_tablet}{
        font-size: 1.2rem;
    }

    @media #{$media_query_at_least_laptop} {

        left: 0;
        right: 0;
        text-align: center;
        top: calc(100% - 0.3rem);
        width: auto;
    }
}

.header-toggles:only-child .nav-toggle .toggle-inner {

    @media #{$media_query_at_least_laptop} {
        padding-top: 0;
    }
}

.header-toggles:only-child {

    .toggle-inner {

        @media #{$media_query_at_least_laptop} {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
        }
    }

    .svg-icon {

        @media #{$media_query_at_least_laptop} {
            order: 1;
        }
    }

    .toggle-text {

        @media #{$media_query_at_least_laptop} {
            position: static;
            padding-right: 20px;
            font-size: 15px;
            color: inherit;
        }
    }
}

.overlay-header .toggle-text {
    color: inherit;
}

.header-inner .toggle:focus .toggle-text,
.header-inner .toggle:hover .toggle-text {
    text-decoration: underline;
}

.mobile-search-toggle,
.mobile-nav-toggle {
    @media #{$media_query_at_least_laptop} {
        display: none !important;
    }
}

/* Search Toggle ----------------------------- */

.search-toggle {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;

    @media #{$media_query_at_least_tablet}{
        left: 2rem;
    }
}

.search-toggle .toggle-icon,
.search-toggle svg {
    height: 2.5rem;
    max-width: 2.3rem;
    width: 2.3rem;
}