/* -------------------------------------------------------------------------- */

/*	Header
/* -------------------------------------------------------------------------- */

#site-header {
    background: #fff;
    position: relative;

    @media ( min-width: 1000px ) {
        z-index: 1;
    }

}

.header-inner {
    max-width: 168rem;
    padding: 3.15rem 0;
    z-index: 100;

    @media ( min-width: 700px ) {
        padding: 3.8rem 0;
    }

    @media ( min-width: 1000px ) {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 2.8rem 0;
    }
}

/* Header Titles ----------------------------- */

.header-titles-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0 4rem;
    text-align: center;

    @media ( min-width: 1000px ) {
        margin-right: 4rem;
        max-width: 50%;
        padding: 0;
        text-align: left;
    }
}

body:not(.enable-search-modal) .header-titles-wrapper {
    justify-content: flex-start;
    padding-left: 0;
    text-align: left;
}

.header-titles {

    .site-title,
    .site-logo,
    .site-description {
        margin: 0;

        @media ( min-width: 1000px ) {
            margin: 1rem 0 0 2.4rem;
        }
    }

    .wp-custom-logo & {

        @media ( min-width: 1000px ) {
            align-items: center;
        }
    }
}

.site-title {
    font-size: 2.1rem;
    font-weight: 600;
    line-height: 1;

    @media ( min-width: 700px ) {
        font-size: 2.4rem;
        font-weight: 700;
    }

    @media ( min-width: 1000px ) {
        align-items: baseline;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin: -1rem 0 0 -2.4rem;
    }

    a {
        color: inherit;
        display: block;
        text-decoration: none;

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }
}

.site-description {
    margin-top: 1rem;
    color: #6d6d6d;
    font-size: 1.8rem;
    font-weight: 500;
    display: none;
    transition: all 0.15s linear;

    @media ( min-width: 700px ) {
        display: block;
    }
}

.site-logo a {
    display: block;
}

.site-logo img {
    display: block;

    @media ( min-width: 700px ) {
        max-height: 9rem;
        transition: height 0.15s linear, width 0.15s linear, max-height 0.15s linear;
    }
}

.header-titles .site-logo .site-logo {
    margin: 0;
}

.site-logo img {
    max-height: 6rem;
    margin: 0 auto;
    width: auto;
}

body:not(.enable-search-modal) .site-logo img {
    margin: 0;
}

/* Overlay Header ---------------------------- */

.overlay-header {

    #site-header {
        background: transparent;
        margin: 0;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        z-index: 2;
    }

    .header-inner {
        color: #fff;
    }

    .site-description,
    .toggle {
        color: inherit;
    }

    .header-inner .toggle-wrapper::before {
        background-color: currentColor;
        opacity: 0.25;
    }

    &.admin-bar #site-header {
        top: 32px;

        @media (max-width: 782px) {
            top: 46px;
        }
    }
}


/* Header Navigation ------------------------- */

.header-navigation-wrapper {
    display: none;

    @media ( min-width: 1000px ) {
        align-items: center;
        display: flex;
    }
}

/* Header Toggles ---------------------------- */

.header-toggles {
    display: none;

    @media ( min-width: 1000px ) {
        display: flex;
        flex-shrink: 0;
        margin-right: -3rem;
    }

    &:only-child .nav-toggle .toggle-inner {

        @media ( min-width: 1000px ) {
            padding-top: 0;
        }
    }

    &:only-child .toggle-inner {

        @media ( min-width: 1000px ) {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
        }

        .svg-icon {

            @media ( min-width: 1000px ) {
                order: 1;
            }
        }
    }

    &:only-child .toggle-inner .toggle-text {

        @media ( min-width: 1000px ) {
            position: static;
            padding-right: 20px;
            font-size: 15px;
            color: inherit;
        }
    }
}

.header-inner {

    .toggle {
        align-items: center;
        display: flex;
        overflow: visible;
        padding: 0 2rem;

        @media ( min-width: 1000px ) {
            height: 4.4rem;
            padding: 0 3rem;
            position: relative;
            bottom: auto;
            left: auto;
            right: auto;
            top: auto;
            width: auto;
        }

        svg {
            display: block;
            position: relative;
            z-index: 1;
        }

        path {
            fill: currentColor;
        }

        &:focus .toggle-text,
        &:hover .toggle-text {
            text-decoration: underline;
        }
    }

    .toggle-wrapper {

        @media ( min-width: 1000px ) {
            position: relative;
        }

        &:before {

            @media ( min-width: 1000px ) {
                background: #dedfdf;
                content: "";
                display: block;
                height: 2.7rem;
                position: absolute;
                left: 0;
                top: calc(50% - 1.35rem);
                width: 0.1rem;
            }
        }

        &:first-child::before {

            @media ( min-width: 1000px ) {
                content: none;
            }
        }
    }

    .primary-menu-wrapper + .header-toggles .toggle-wrapper:first-child:before {
        content: "";
    }
}

.toggle-icon {
    display: block;
    overflow: hidden;
}

.toggle-inner {
    display: flex;
    justify-content: center;
    height: 2.3rem;
    position: relative;

    @media ( min-width: 1000px ) {
        position: static;
    }

    .toggle-text {
        color: #6d6d6d;
        font-size: 1rem;
        font-weight: 600;
        position: absolute;
        top: calc(100% + 0.5rem);
        width: auto;
        white-space: nowrap;
        word-break: break-all;

        @media ( min-width: 700px ) {
            font-size: 1.2rem;
        }

        @media ( min-width: 1000px ) {
            left: 0;
            right: 0;
            text-align: center;
            top: calc(100% - 0.3rem);
            width: auto;
        }
    }
}


.nav-toggle-wrapper:not(.has-expanded-menu) {

    @media ( min-width: 1000px ) {
        display: none;
    }
}

.overlay-header .toggle-text {
    color: inherit;
}

.mobile-search-toggle,
.mobile-nav-toggle {

    @media ( min-width: 1000px ) {
        display: none !important;
    }
}


/* Search Toggle ----------------------------- */

.search-toggle {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;

    @media ( min-width: 700px ) {
        left: 2rem;
    }

    .toggle-icon,
    svg {
        height: 2.5rem;
        max-width: 2.3rem;
        width: 2.3rem;
    }
}


/* Modal Search Form ------------------------- */


.search-modal {

    form {

        @media (min-width: 700px) {
            position: relative;
            width: 100%;
        }
    }

    .search-field {
        @media ( min-width: 700px ) {
            border: none;
            font-size: 3.2rem;
            height: 14rem;
        }
    }

    .search-field::-moz-placeholder {
        line-height: 4.375;
    }
}

.search-untoggle svg {

    @media ( min-width: 700px ) {
        height: 2.5rem;
        width: 2.5rem;
    }
}