
/* -------------------------------------------------------------------------- */

/*	Widgets
/* -------------------------------------------------------------------------- */


/* Widget Base ------------------------------- */

.widget-content > div > *:first-child {
    margin-top: 0;
}

.widget-content > div > *:last-child {
    margin-bottom: 0;
}


.widget {
    margin-top: 3rem;

    .widget-title {
        font-size: 2rem;
        margin: 0 0 2rem;
    }

    &:first-child {
        margin-top: 0;
    }

    li {
        margin: 2rem 0 0 0;
    }

    li:first-child,
    li > ul,
    li > ol {
        margin-top: 0;
    }

    table,
    table * {
        border-color: $color__border;
    }

    caption {
        background-color: $color__primary;
        color: #FFF;
    }

    .post-date,
    .rss-date {
        color: #6d6d6d;
        display: block;
        font-size: 0.85em;
        margin-top: 0.2rem;
    }

    select {
        max-width: 100%;
    }
}


/* Base List Widget -------------------------- */

.widget_archive ul,
.widget_categories ul,
.widget_pages ul,
.widget_meta ul,
.widget_nav_menu ul,
.widget_recent_comments ul,
.widget_recent_entries ul,
.widget_rss ul {
    list-style: none;
    margin: 0;
}

.widget_archive,
.widget_categories,
.widget_pages,
.widget_meta,
.widget_nav_menu {

    li {
        color: $color__body-copy;
        margin: 1rem 0;
    }

    li li {
        margin-left: 2rem;
    }

    a {
        text-decoration: none;

        &:focus,
        &:hover{
            text-decoration: underline;
        }
    }
}


/* Widget: Calendar -------------------------- */

.calendar_wrap {
    font-size: 2.4rem;

    th,
    td {
        font-size: 1em;
        font-weight: 500;
        line-height: 1;
        padding: 2.5% 2.5% 1.75% 2.5%;
        text-align: center;
    }

    tfoot td {
        border-bottom: none;
    }

    tfoot a {
        text-decoration: none;
    }

    tfoot #prev {
        text-align: left;
    }

    tfoot #next {
        text-align: right;
    }
}


/* Widget: Gallery --------------------------- */

.widget_media_gallery .gallery {
    margin: 0 -0.4em -0.8em -0.4em;
    width: calc(100% + 0.8em);
}

.widget_media_gallery .gallery-item {
    margin: 0 0 0.8em 0;
    padding: 0 0.4em;
}

/* Widget: Nav Menu -------------------------- */

.widget_nav_menu .widget-content > div > ul {
    margin-left: 0;
}

/* Widget: Recent Entries -------------------- */

.widget_recent_entries a {
    text-decoration: none;

    &:focus,
    &:hover {
        text-decoration: underline;
    }
}


/* Widget: RSS ------------------------------- */

.widget_rss {

    .widget-title a.rsswidget:first-of-type {
        display: none;
    }

    a {
        text-decoration: none;

        &:focus,
        &:hover {
            text-decoration: underline;
        }
    }

    .rssSummary {
        margin-top: 0.5rem;
    }

    cite::before {
        content: "— ";
    }
}

/* Widget: Tag Cloud ------------------------- */

.widget_tag_cloud a {
    margin-right: 0.5rem;
    text-decoration: none;
    white-space: nowrap;

    &:focus,
    &:hover {
        text-decoration: underline;
    }
}
