hr,
hr.wp-block-separator {
	clear:both;
	margin: 3rem / 1.6 0;

	@media #{$media_query_at_least_tablet}{
		margin: 6rem / 1.6 auto;
	}

	@media #{$media_query_at_least_laptop} {
		margin: 8rem / 1.6 auto;
	}

	&.is-style-wide {

		max-width: calc(100vw - 40px);
		position: relative;
		width: 100%;

		@media #{$media_query_at_least_tablet}{
			margin: (6rem / 1.6) auto;
			max-width: calc(100vw - 80px);
		}
		@media #{$media_query_at_least_desktop} {
			max-width: 1200px;
			width: 100%;
		}
	}

	&.is-style-dots {

		background-color: transparent !important;

		&::before {
			background: none;
			color: inherit;
			font-size: 2rem;
			font-weight: 700;
			height: auto;
			letter-spacing: 1em;
			padding-left: 1em;
			position: static;
			transform: none;
			width: auto;
		}

		&::after {
			content: none;
		}
	}
}